/* Stephanie Ramos */
/* August 29, 2025 */
/* Module 4.2 Assignment */

/* Main title */
h1 {
  text-align: center;
  color: black;
}

/* Grid container */
#image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

/* Grids */
#image-gallery > div {
  border: 2px solid black;
  margin-top: 10%;
  text-align: center;
  padding: 20px;
}

/* Book titles */
h3 {
  text-align: center;
  color: rgb(70, 90, 120); /* darker grey-blue */
  margin-bottom: 10px;
}

/* Images */
figure {
  text-align: center;
  margin: 0;
}
figure img {
  max-width: 200px;
  height: auto;
}

/* Author caption */
figcaption {
  font-style: italic;
  font-size: 0.75em;
  color: rgb(128, 128, 128);
  margin-top: 6px;
}

/* Link back to Landing Page */
.link-back {
    width: 100%;
    margin-top: 60%;   
    margin-bottom: 20px;
    text-align: right; 
}
/* Link styles */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}